= javascript_include_tag "/js/print.js"
.row
  #flash
  - flash.each do |k,v|
    %div{:class => "alert alert-#{k.to_s}"}
      = v
  .span8.offset2
    %form.form-horizontal#printValue
      -#
        .control-group
          .controls
            %label.radio
              %input#singleRadio{:type=>'radio', :name => 'optionsRadio', :checked => 'checked'}
              Print single barcode
            %label.radio
              Print barcode range
              %input#rangeRadio{:type=>'radio', :name => 'optionsRadio'}
        .control-group.inputs
          %label.control-label{:for => 'inputStartValue'} Start
          .controls
            %input#inputStartValue{:type=>'text', :placeholder => 'Start Value...'}
            %span.help-inline.check-message
      .control-group.inputs
        %label.control-label{:for => 'inputPCOID'} ID
        .controls
          %input#inputPCOID{:type=>'text', :placeholder => 'PCF ID...'}
          %span.help-inline.check-message
      .form-actions
        %button.btn.btn-primary#submitRange{:type=>'submit'} Submit
        %button.btn#nextAvail{:type=>'button', :disabled => 'disabled'} Next Available ID

